!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "Nikukyu-Punch", :name => "copyright"}/
    
    %title dollmaster
    %link{:href => "#{css_path}/style.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "#{css_path}/script.js", :type => "text/javascript"}
  %body{:onload => "MM_preloadImages('#{image_path}/menu_over_01.gif','#{image_path}/menu_over_02.gif','#{image_path}/menu_over_03.gif','#{image_path}/menu_over_04.gif','#{image_path}/menu_over_05.gif','#{image_path}/menu_over_06.gif')"}
    #container
      #header
        %h1 〜project-dollmaster〜
        %img{:alt => "logo", :height => "71", :src => "#{image_path}/logo.gif", :width => "536"}/
      / header
      %ul#menu
        - %w(home about doll item quest battle).each.with_index do |e, i|
          - idx = i + 1
          - over = action_name == e ? '_over' : ''
          - over = (action_name == 'index' and e == 'home') ? '_over' : over
          - action = e == 'home' ? '' : e
          %li<>
            %a{:href => "/#{action}"}<
              %img#Image1{:alt => e.upcase, :height => "38", :name => "Image#{idx}", :onmouseout => "MM_swapImgRestore()", :onmouseover => "MM_swapImage('Image#{idx}','','#{image_path}/menu_over_0#{idx}.gif',1)", :src => "#{image_path}/menu#{over}_0#{idx}.gif", :width => "121"}</
      #contents
        %img#main-img{:alt => "", :height => "200", :src => "#{image_path}/main_img.jpg", :width => "720"}/
        %br/
        #main
          = yield
        / main

        #sub
          %h3 見出し
          %p
            上の見出し部分はh3タグで囲めばOK。
        / sub

        #footer
          Copyright(C) 2012 project-dollmaster All Rights Reserved.
          %br/
          %a{:href => "http://nikukyu-punch.com/", :target => "_blank"} * Template design by Nikukyu-punch *
      / contents
